$primaryColor: #4527a4;

.bBlocksInspectorInfo {
  padding: 6px;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.bPlTabPanel{
  .textControl{
    margin-top: 20px;
  }
}


// .wp-block-maps-music-slider {
//
// }

